.review-container {
  border: 2px solid aquamarine;
  margin: 5px;

  border-radius: 5px;
  display: flex;
}
.review-container img {
  width: 96px;
}
.review-details-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.product-details p {
  margin: 0;
}
